html, body {
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  overflow: hidden; /* Prevent scrolling */
  position: fixed; /* Fix body to viewport */
  width: 100%;
  height: 100%;
}

.split-screen-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  overflow: hidden;
}

.left, .right {
  height: 100%;
}

.left {
  border-right: 2px solid black;
  padding-right: 2vw;
}
.right {
  padding-left: 2vw;
}