.CodeWindow {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  margin-left: 2vw;
}

.CodeMirror {
  height: 75vh;
  width: 40vw;
  border-radius: 15px;
  padding: 2vw 2vh;
  margin: 5vh 2vw 0 2vw;
  font-size: 16px !important;
  background-color: #181818 !important;
  border: 1px solid #282828; 
  box-shadow: 
    inset 4px 4px 8px  rgba(0, 0, 0, 0.3),
    inset -4px -4px 8px rgba(255, 255, 255, 0.023);
}

.CodeMirror-gutters {
  background: none !important;
}

.vButton {
  width: calc(100% - 4vw);
  margin: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 7vh;
  background: #C2BBF0;
  border: none;
  border-radius: 15px;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  

  box-shadow: 
    -4px -4px 10px rgba(255, 255, 255, 0.05),
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

.vButton:hover {
  box-shadow: 
    -3px -3px 8px rgba(255, 255, 255, 0.05),
    3px 3px 8px rgba(0, 0, 0, 0.3);
  transform: scale(0.99);
}

.vButton:active {
  box-shadow: 
    inset -2px -2px 5px rgba(255, 255, 255, 0.05),
    inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
}

.highlight-line {
  background-color: rgba(255, 255, 0, 0.4);
}