.CodeWindow {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  margin-left: 2vw;
  padding: 1em;
}

.CodeMirror {
  height: 60vh;
  width: 40vw;
  border-radius: 15px;
  padding: 2vw 2vh;
  margin: 0 2vw 0 2vw;
  font-size: 16px;
  background-color: #181818 !important; 
  border: 1px solid #282828; 
  box-shadow: 
    inset 4px 4px 8px  rgba(0, 0, 0, 0.3),
    inset -4px -4px 8px rgba(255, 255, 255, 0.023);
}

.CodeMirror-gutters {
  background: none !important;
  padding-right: 10px;
}

.highlight-line {
  background-color: rgba(255, 255, 0, 0.4);
}
