.dropdown {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 220px;
  border: 1px solid #666;
  background: #475154;
}

.dropdown__text {
  color: white;
  padding: 10px 16px;
  cursor: pointer;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__text:hover {
  color: white;
  background: #475154;
}

.dropdown__text:after {
  content: "";
  transition: all 0.3s;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
}

.dropdown.active .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
}

.dropdown__items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  background: #475154;
  border-top: 1px solid #666;
  overflow: hidden;
}

.dropdown.active .dropdown__items {
  visibility: visible;
  opacity: 1;
  max-height: 290px;
}

.dropdown__item {
  cursor: pointer;
  padding: 10px 18px;
  color: white;
}

.dropdown__item:not(:last-child) {
  border-bottom: 1px solid #666;
}

.dropdown__item:hover {
  background: #3a4143;
}
