/* Variables.css */
.variables-container {
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1rem 0;
    border-radius: 8px;
    width: 15vw;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    text-align: center;
  }
  
  .variables-container h3 {
    margin-top: 0;
    font-size: 1rem;
    color: #333;
  }
  
  .variables-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  
  .variable-item {
    margin-bottom: 0.8rem;
    padding: 0.5rem;
  }
  
  .variable-name {
    font-weight: bold;
    color: #555;
  }
  
  .variable-value {
    margin-left: 0.5rem;
    color: #333;
  }
  
  .variable-manipulations {
    margin-top: 0.5rem;
    list-style-type: disc;
    padding-left: 1.2rem;
    font-size: 0.5rem;
    color: #777;
  }
  